go 1.26.1

use (
	./cmd/bench-parser
	./cmd/grpc-server-go
	./cmd/kitchen-sink-go
	./lib/go/adapters/echo
	./lib/go/adapters/fiber
	./lib/go/adapters/gin
	./lib/go/adapters/interceptor
	./lib/go/config
	./lib/go/engine
	./lib/go/policy
	./scripts/seed_blocklist
	./scripts/spoof_proxy
	./scripts/testapp
)
